#!/usr/bin/env bash

# Summary
# [c-neovim]
# [c-gyra-saas]
# [c-gyra-legacy]

#[c-neovim]
alias herewegoagain="cd ~/.config/nvim && nvim ."
alias vim=nvim
alias vv="nvim ."

#[c-gyra-saas]
alias gsc="code ~/gyra-saas/gyra-saas.code-workspace"
alias gsn="cd ~/gyra-saas && nvim ."
alias gsgb="~/.personal-scripts/utils/move-branch.sh ~/gyra-saas"
alias gsgd="~/.personal-scripts/utils/throw-in-develop.sh ~/gyra-saas"
alias gscd="mongosh gyramais --quiet --port 27057 --eval \"db.Report.deleteMany({})\" &&
mongosh gyramais --quiet --port 27057 --eval \"db.Section.deleteMany({})\" &&
mongosh gyramais --quiet --port 27057 --eval \"db.SectionComment.deleteMany({})\" &&
mongosh gyramais --quiet --port 27057 --eval \"db.SectionDetails.deleteMany({})\" &&
mongosh gyramais --quiet --port 27067 --eval \"db.PolicyResult.deleteMany({})\" &&
mongosh gyramais --quiet --port 27067 --eval \"db.PolicyRuleGroupResult.deleteMany({})\" &&
mongosh gyramais --quiet --port 27067 --eval \"db.PolicyRuleResult.deleteMany({})\" &&
mongosh gyramais --quiet --port 27067 --eval \"db.PolicyRuleResultJoin.deleteMany({})\" &&
mongosh gyramais --quiet --port 27011 --eval \"db.NodeCreditPolicy.deleteMany({})\" &&
mongosh gyramais --quiet --port 27011 --eval \"db.Opportunity.deleteMany({})\""

#[c-gyra-legacy]
alias glc="code ~/gyra-legacy/gyra-legacy.code-workspace"
alias gln="cd ~/gyra-legacy && nvim ."
alias glgb="~/.personal-scripts/utils/move-branch.sh ~/gyra-legacy"
alias glgd="~/.personal-scripts/utils/throw-in-develop.sh ~/gyra-legacy"
