#!/usr/bin/env bash

# Summary
# [c-neovim]
# [c-gyra-saas]
# [c-gyra-legacy]

#[c-neovim]
alias herewegoagain="cd ~/.config/nvim && nvim ."
alias vim=nvim
alias vv="nvim ."

#[c-gyra-saas]
alias gscode="code ~/gyra-saas/gyra-saas.code-workspace"
alias gsnvim="cd ~/gyra-saas && nvim ."
alias gsgitgotobranch="~/.personal-scripts/utils/move-branch.sh ~/gyra-saas"
alias gsgitbranchtodevelop="~/.personal-scripts/utils/throw-in-develop.sh ~/gyra-saas"
alias gsgitnext=". ~/.personal-scripts/utils/get-next-commit-project.sh ~/gyra-saas"
alias gsdeletedb="mongosh gyramais --quiet --port 27057 --eval \"db.Report.deleteMany({})\" &&
mongosh gyramais --quiet --port 27057 --eval \"db.Section.deleteMany({})\" &&
mongosh gyramais --quiet --port 27057 --eval \"db.SectionComment.deleteMany({})\" &&
mongosh gyramais --quiet --port 27057 --eval \"db.SectionDetails.deleteMany({})\" &&
mongosh gyramais --quiet --port 27067 --eval \"db.PolicyResult.deleteMany({})\" &&
mongosh gyramais --quiet --port 27067 --eval \"db.PolicyRuleGroupResult.deleteMany({})\" &&
mongosh gyramais --quiet --port 27067 --eval \"db.PolicyRuleResult.deleteMany({})\" &&
mongosh gyramais --quiet --port 27067 --eval \"db.PolicyRuleResultJoin.deleteMany({})\" &&
mongosh gyramais --quiet --port 27011 --eval \"db.NodeCreditPolicy.deleteMany({})\" &&
mongosh gyramais --quiet --port 27011 --eval \"db.Opportunity.deleteMany({})\""

#[c-gyra-legacy]
alias glcode="code ~/gyra-legacy/gyra-legacy.code-workspace"
alias glnvim="cd ~/gyra-legacy && nvim ."
alias glgitgotobranch="~/.personal-scripts/utils/move-branch.sh ~/gyra-legacy"
alias glgitbranchtodevelop="~/.personal-scripts/utils/throw-in-develop.sh ~/gyra-legacy"
alias glgitnext=". ~/.personal-scripts/utils/get-next-commit-project.sh ~/gyra-legacy"
